div {
  padding: 0 1rem 1rem 1rem;
}

input {
  width: 100%;
  text-align: center;
}
p {
  text-align: center;
  margin-top: 10px;
  font-size: 1.5rem;
}
:host-context(app-coryat-board) input {
  font-size: 2rem;
}

:host-context(app-coryat-board) p {
  font-size: 3rem;
}
