:host {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px 0 0 0;
}

:host-context(app-coryat-board) :host {
  flex-direction: column;
}

/* setup buttons */
#setupButtons {
  flex: 0 0 3rem;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#setupButtons > * {
  flex: 1;
}

:host-context(app-coryat-board) #setupButtons {
  flex: 0 0 300px;
  flex-direction: column;
}

.playerButtons {
  display: flex;
  gap: 1rem;
}
.playerButtons > button {
  flex: 1;
}

.playerButtons fa-icon {
  font-size: 1.35rem;
}

/* players */
#players {
  flex: 2;
  display: flex;
}

#players > * {
  flex: 1;
}
.playersHorizontal {
  flex-direction: row;
}

.playersHorizontal > * {
  margin-right: 5px;
}

.playersVertical,
:host-context(app-coryat-board) #players {
  flex-direction: column;
}

/* vertical styles */

:host-context(app-coryat-board) :host .playerButtons {
  display: flex;
  gap: 1em;
}

:host-context(app-coryat-board)
  :host
  .playerButtons
  > button:not(:first-of-type) {
  margin-top: 0;
}

:host-context(app-coryat-board) :host .playerButtons > button {
  max-height: max-content;
}

:host-context(app-coryat-board) :host > *:not(.modal) {
  padding: 1em 0 1em 0;
}
