:host {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 1fr 1fr 4fr;
  grid-gap: 10px;
  margin: 10px 0 0 0;
  text-align: center;
  height: 100%;
  width: 100%;
}
button {
  width: 100%;
}

.players {
  display: flex;
}

.players > * {
  flex: 1;
}
.playersHorizontal {
  flex-direction: row;
}

.playersHorizontal > * {
  margin-right: 5px;
}

.playersVertical {
  flex-direction: column;
}

.playerButtons > button:not(:first-of-type) {
  margin-top: 5px;
}

.playerButtons > button {
  max-height: calc(50% - 2.5px);
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.playerButtons fa-icon {
  font-size: 1.35rem;
}
