app-category div {
  height: 100%;
  display: grid;
  grid-template-rows: 1.25fr 1fr 1fr 1fr 1fr 1fr;
}
app-category h2 {
  display: flex;
  flex-direction: column;
  background-color: #060b7c;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 3px;
  word-break: break-word;
  color: white;
  font-family: 'Yantramanav', sans-serif;
  font-size: 1.5rem;
  text-shadow: 2px 2px 0px #000000;
}

app-category .errorCategory h2 {
  background-color: #7c060b;
}

app-category h2 > i {
  font-size: 1em;
}
app-category h2 > i::before,
app-category h2 > i::after {
  content: '\00a0';
}
app-category div > * {
  border: 2px solid #100f27;
}
