:host {
  display: block;
  margin: 2rem;
}
app-player-scorer {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
h1 {
  text-align: center;
}
section {
  margin: 3rem;
}
h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}
p {
  line-height: 1.5;
}
span {
  display: block;
  font-weight: 600;
}
