:host {
  display: flex;
  width: 100vw;
  height: 100vh;

  text-align: center;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  font-size: 5rem;
  padding-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
}

#container {
  display: flex;
  flex-flow: row wrap;
  margin-left: 7.5%;
  margin-right: 7.5%;
  gap: 15%;
}
#container > div {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 2rem;
  min-width: 260px;
  padding: 2rem;
  background-color: rgba(10, 20, 201, 0.075);
  border-radius: 1rem;
}
p {
  font-size: 1.2rem;
}
span.platform {
  font-size: 1rem;
  width: 100%;
}
