div {
  height: 100%;
  width: 50%;
  margin: 0 auto;
  border: 0px;
  display: flex;
  text-align: center;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
div > * {
  margin: 15px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 3rem;
}
