div {
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  padding: 20px 20px 20px 20px;
}
div > div {
  height: 100%;
  width: 100%;
  padding: 0 0 0 0;
}
.boardView {
  display: grid;
  grid-template-rows: 90% 10%;
}

.footer {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 1fr 1fr 4fr;
  grid-gap: 10px;
  margin: 10px 0 0 0;
}
.footer button {
  width: 100%;
}

.players {
  display: flex;
}
.playersHorizontal {
  flex-direction: row;
  flex-wrap: wrap;
}

.playersHorizontal > * {
  width: 32%;
  margin-right: 5px;
}

.playersVertical {
  flex-direction: column;
  flex-wrap: nowrap;
}

.players > * {
  margin-bottom: 5px;
  min-width: 30%;
}

.playerButtons > button:not(:first-of-type) {
  margin-top: 5px;
}

.playerButtons > button {
  max-height: calc(50% - 2.5px);
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0px;
  height: 100%;
  width: 100%;
}
