<div class="boardView" [ngStyle]="{ display: showBoard() ? 'grid' : 'none' }">
  <div class="board">
    <app-category></app-category>
    <app-category></app-category>
    <app-category></app-category>
    <app-category></app-category>
    <app-category></app-category>
    <app-category></app-category>
  </div>

  <div class="footer">
    <app-restart-button></app-restart-button>
    <button *ngIf="showDoubleJeopardyButton()" (click)="startDoubleJeopardy()">
      double jeopardy
    </button>
    <button *ngIf="!showDoubleJeopardyButton()" routerLink="/end-screen">
      finish
    </button>
    <div class="playerButtons">
      <button (click)="playerService.addPlayer()">+</button>
      <button
        *ngIf="playerService.players.length > 1"
        (click)="playerService.removePlayer()"
      >
        -
      </button>
    </div>
    <div
      class="players"
      [ngClass]="{
        playersHorizontal: playerService.players.length < 4,
        playersVertical: playerService.players.length >= 4
      }"
    >
      <app-player
        *ngFor="let player of playerService.players"
        [player]="player"
      ></app-player>
    </div>
  </div>
</div>
<div [ngStyle]="{ display: !showBoard() ? 'inline-block' : 'none' }">
  <app-question-screen></app-question-screen>
</div>
