div {
  height: 100%;
  width: 100%;
  padding: 20px 20px 20px 20px;
}
div > div {
  height: 100%;
  width: 100%;
  padding: 0 0 0 0;
}
.boardView {
  display: grid;
  grid-template-rows: 90% 10%;
}

.board {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0px;
  background-color: #100f27;
  border: 1px solid #100f27;
}

@supports (--custom: property) {
  .board {
    background-color: var(--jeopardy-background-blue);
    border-color: var(--jeopardy-background-blue);
  }
}
