div {
  height: 100%;
  width: 100%;
  padding: 20px 20px 20px 20px;
}
div > div {
  height: 100%;
  width: 100%;
  padding: 0 0 0 0;
}
.boardView {
  display: flex;
  flex-flow: column;
}

.board {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0px;
  background-color: #0e0f26;
  border: 1px solid #0e0f26;
}

app-board-footer {
  flex: 0 0 100px;
  max-height: 100px;
}

@supports (--custom: property) {
  .board {
    background-color: var(--jeopardy-background-blue);
    border-color: var(--jeopardy-background-blue);
  }
}
