<div class="boardView" [ngStyle]="{ display: showBoard() ? 'grid' : 'none' }">
  <div class="board">
    <app-category></app-category>
    <app-category></app-category>
    <app-category></app-category>
    <app-category></app-category>
    <app-category></app-category>
    <app-category></app-category>
  </div>
  <app-board-footer [isHorizontal]="true"></app-board-footer>
</div>
<div [ngStyle]="{ display: !showBoard() ? 'inline-block' : 'none' }">
  <app-question-screen></app-question-screen>
</div>
