app-question-screen div {
  outline: 1px solid black;
  height: 100%;
  width: 100%;
  display: inline-block;
  text-align: center;
}
app-question-screen div > * {
  margin-top: 20%;
}

app-question-screen button {
  margin: 10px;
}

app-question-screen p {
  width: 100%;
  text-transform: lowercase;
  font-size: 2em;
  margin-top: 20%;
  font-family: 'afta_serifregular', serif;
}

app-question-screen p::first-letter {
  text-transform: uppercase;
}

app-question-screen p > i {
  width: 100%;
  text-transform: initial;
  font-size: 1em;
  font-family: 'afta_serifitalic', serif;
}
