app-question-screen > #questionDiv,
app-question-screen > #answerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90%;
  width: 100%;
  background-color: #060b7c;
  color: white;
  border: 2px solid #100f27;
}
:is(#answerDiv, #questionDiv) :is(p, p > i) {
  width: 80%;
  font-size: 2.6rem;
  font-family: 'Merriweather', serif;
  text-transform: initial;
  line-height: 3rem;
}

:is(#answerDiv, #questionDiv) :is(p, p > i)::first-letter {
  text-transform: uppercase;
}

#answerDiv p {
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.buttonDiv {
  background-color: white;
  width: 100%;
  height: 10%;
  text-align: center;
}
.buttonDiv > button,
.buttonDiv > app-player-scorer {
  margin: 1rem 1rem 0 1rem;
}

.buttonDiv > button {
  position: relative;
  top: -5px;
}

@supports (--custom: property) {
  app-question-screen > #questionDiv,
  app-question-screen > #answerDiv {
    background-color: var(--jeopardy-foreground-blue);
    border-color: var(--jeopardy-background-blue);
  }
}
