<div id="questionDiv" *ngIf="gameState.currentClue && !answerSeen">
  <p [innerHTML]="gameState.currentClue.question"></p>
</div>
<div id="answerDiv" *ngIf="gameState.currentClue && answerSeen">
  <p [innerHTML]="gameState.currentClue.answer"></p>
</div>
<div *ngIf="!answerSeen" class="buttonDiv">
  <button (click)="showAnswer()">show answer</button>
</div>
<div *ngIf="answerSeen" class="buttonDiv">
  <app-player-scorer
    *ngFor="let player of playerService.players"
    [player]="player"
    (rulingChange)="onRulingChange($event, player)"
  ></app-player-scorer>
  <button (click)="awardPoints()">continue</button>
</div>
