.board {
    outline: 1px solid black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto repeat(5, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    height: 100%;
    width: 100%;
}