/* You can add global styles to this file, and also import other style files */
:root {
  --jeopardy-foreground-blue: #060b7c;
  --jeopardy-background-blue: #0e0f26;
  --jeopardy-font-yellow: #eebe74;
  --error-red: #7c060b;
  --standard-border: 1px solid black;
  --button-background: #0a14c9;
  --button-background-hover: #191c49;
  --button-background-focus: #04074a;
  --button-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}

body {
  margin: 0;
  height: 100vh;
  background-color: white;
  color: black;
}

.screen-reader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

h1 {
  font-size: 5rem;
  padding-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
}
/* partially stolen from https://moderncss.dev/css-button-styling-guide/ */
button,
a.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);

  background-color: var(--button-background);
  color: var(--button-color);

  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.1;
  text-decoration: none;
  cursor: pointer;
  transition: 220ms background ease-in-out;
}
button.dot-button {
  min-width: 1px;
  min-height: 1px;
  font-size: 3rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}
button:hover,
button:active,
a.button:hover,
a.button:active {
  background-color: var(--button-background-hover);
}
button:focus,
a.button:focus {
  outline-style: solid;
  outline-color: transparent;
  box-shadow: 0 0 0 4px var(--button-background-focus);
}

input[type='text'] {
  border: var(--standard-border);
}

fa-icon {
  font-size: inherit;
}
