/* You can add global styles to this file, and also import other style files */
* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.screen-reader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
