/* You can add global styles to this file, and also import other style files */
:root {
  --jeopardy-foreground-blue: #060b7c;
  --jeopardy-background-blue: #100f27;
  --jeopardy-font-yellow: #eebe74;
  --error-red: #7c060b;
  --button-background: #3e68ff;
  --button-background-hover: #0037fe;
  --button-background-focus: #0029be;
  --button-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}

body {
  margin: 0;
  height: 100vh;
  background-color: white;
  color: black;
}

.screen-reader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* partially stolen from https://moderncss.dev/css-button-styling-guide/ */
button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);

  background-color: #3e68ff;
  color: white;

  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.1;
  cursor: pointer;
  transition: 220ms background ease-in-out;
}

button:hover,
button:active {
  background-color: #0037fe;
}
button:focus {
  outline-style: solid;
  outline-color: transparent;
  box-shadow: 0 0 0 4px #0029be;
}

input[type='text'] {
  border: 1px solid black;
}
