:host > div {
  width: 100vw;
  height: 100vh;
}
.div-main-screen {
  position: relative;
  padding: 2rem;
}
app-coryat-scorer {
  padding: 2rem;
}
.btn-screen-change {
  position: fixed;
  top: 4rem;
  left: 4rem;
  font-size: 3rem;
  min-height: 8rem;
  min-width: 8rem;
  border-radius: 50%;
}

#setup .btn-screen-change {
  background-color: var(--jeopardy-font-yellow);
  color: black;
}

#setup .btn-screen-change:hover,
#setup .btn-screen-change:active {
  background-color: hsl(36, 88%, 49%);
}
#setup .btn-screen-change:focus {
  box-shadow: 0 0 0 0.5rem black;
}
#board .btn-screen-change {
  background-color: #ebebeb;
  color: black;
}
#board .btn-screen-change:hover,
#board .btn-screen-change:active {
  background-color: hsl(0, 0%, 82%);
}

#board .btn-screen-change:focus {
  box-shadow: 0 0 0 0.5rem var(--button-background);
}
