button {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: var(--jeopardy-foreground-blue);
  border-radius: 0;
}
button:focus {
  box-shadow: inset 0 0 0 4px white;
}
:host.errorClue button {
  background-color: var(--error-red);
}

button:not(.clueComplete):hover {
  background-color: var(--jeopardy-background-blue);
}
button > span {
  font-family: 'Yantramanav', sans-serif;
  color: var(--jeopardy-font-yellow);
  text-shadow: 2px 2px 0px #000000;
  font-size: 2.5rem;
}
.clueComplete > span:nth-of-type(2) {
  visibility: hidden;
}
